.venv/
.torch/
cache/
dataset/
dataset_unbalanced/
dataset_balanced/
dataset_pneumothorax/
dataset_pneumothorax_small/
dataset_resized/
combined_dataset/
nodule_dataset/
nodule_dataset21/
nodule_cxr_dataset/
dataset_nodule_augmented/
*.h5
*.keras
build/
dist/
*.pth